@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}
html{
  scroll-behavior: smooth;
}
.full-section{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#mouse-follower{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbff00;
  position: absolute;
  margin: -16px 0 0 -16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
}

    /* web-development-banner start */

   
      /* web-development-banner end */

      /* best-company start */

.best-company{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
}
.best-company-in-box{
    width: 100%;
    /* height: 550px; */
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: url(./images/pngegg\ \(3\).png); */
    background-size:cover;
}
.best-company-pulse img{
    width: 35px;
}
.best-company-in-box:hover{
    border: 1px solid #2a8fc9;
    transition: .1s ease-in-out;
    border-radius: 20px;
    /* background: linear-gradient(to right bottom, #212428, #16181c); */
    background-color: #11151C;
}
.best-company-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.best-company-in-box-wraper-imgbox img{
    width: 100%;
    height: 450px;
}
.best-company-in-box-wraper-textbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 20px;
}
.best-company-in-box:hover .best-company-in-box-wraper-textbox-text{
    color: #2a8fc9;
    transition: .5s ease-in-out;
}
.best-company-in-box-wraper-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
}
.best-company-heading-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}
.span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2a8fc9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
}
.best-company-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
}



/* .about-btn{
    width: 150px;
    height: 45px;
    border: 0;
} */

/*  */

/* .about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .best-company-btn{
    display: flex;
    justify-content: center;
  }
  .best-company-btn-btn{
    position: relative;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius:50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #000;
  }
  
  .best-company-btn-btn .about-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  .best-company-pulse img{
    width: 40px;
  }
  .best-company-pulse{
    height: 75px;
    width: 75px;
    /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
    background: #044164;
    position: absolute;
    /* margin: auto; */
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #2a8fc9;
}
.best-company-pulse:before,
.best-company-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2a8fc9;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
}
.best-company-pulse:before{
    animation: pulse 2s ease-out infinite;
}
.best-company-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
  

/* best company end */

  /* in-bangalore start */

.in-bangalore{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
  }
  .in-bangalore-box{
    width: 100%;
    /* height: 550px; */
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: url(./images/pngegg\ \(3\).png); */
    background-size:cover;
  }
  .in-bangalore-pulse img{
    width: 35px;
  }
  .in-bangalore-box:hover{
    border: 1px solid #652ac9;
    transition: .1s ease-in-out;
    border-radius: 20px;
    /* background: linear-gradient(to right bottom, #212428, #16181c); */
    background-color: #11151C;
  }
  .in-bangalore-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  .in-bangalore-imgbox img{
    width: 100%;
    height: 450px;
  }
  .in-bangalore-textbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .in-bangalore-box:hover .best-company-in-box-wraper-textbox-text{
    color: #652ac9;
  }
  .in-bangalore-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
  }
  .in-bangalore-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #652ac9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
  }
  .in-bangalore-h1{
    color: #C4CFDE;
    font-size: 50px;
    padding-bottom: 30px;
  }
  .in-bangalore-box:hover .in-bangalore-h1{
  color: #652ac9;
  }
  .in-bangalore-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
  }

  .in-bangalore-down-box{
  width: 100%;
  padding: 10px 40px;
  /* background-color: #192f77; */
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .in-bangalore-box:hover .in-bangalore-down-box{
  background-color:#652ac9;
  box-shadow: 7px 10px 10px #000000;
  color: #11151C;
  }
  .in-bangalore-down-box-i-text{
  display: flex;
  gap: 7px;
  align-items: center;
  }
  .in-bangalore-down-box-i{
  display: flex;
  align-items: center;
  }
  .in-bangalore-down-box-i img{
  width: 20px;
  }
  .php-pulse img{
    width: 40px;
  }
  .in-bangalore-down-box-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
  .in-bangalore-pulse{
    height: 75px;
    width: 75px;
    /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
    background: #2f0579;
    position: absolute;
    /* margin: auto; */
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #652ac9;
  }
  .in-bangalore-pulse:before,
  .in-bangalore-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #652ac9;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
  }
  .in-bangalore-pulse:before{
    animation: pulse 2s ease-out infinite;
  }
  .in-bangalore-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
  }
  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }
  
  
  /* in-bangalore end */
  
  /* in-bangalore2 start */
  
  .in-bangalore2{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
  }
  .in-bangalore2-box{
    width: 100%;
    /* height: 550px; */
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: url(./images/pngegg\ \(3\).png); */
    background-size:cover;
  }
  .in-bangalore2-pulse img{
    width: 35px;
  }
  .in-bangalore2-box:hover{
    border: 1px solid #c97a2a;
    transition: .1s ease-in-out;
    border-radius: 20px;
    /* background: linear-gradient(to right bottom, #212428, #16181c); */
    background-color: #11151C;
  }
  .in-bangalore2-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  .in-bangalore2-imgbox img{
    width: 100%;
    height: 450px;
  }
  .in-bangalore2-textbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .in-bangalore2-box:hover .best-company-in-box-wraper-textbox-text{
    color: #c97a2a;
  }
  .in-bangalore2-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
  }
  .in-bangalore2-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c97a2a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
  }
  .in-bangalore2-h1{
    color: #C4CFDE;
    font-size: 50px;
    padding-bottom: 30px;
  }
  .in-bangalore2-box:hover .in-bangalore2-h1{
  color: #c97a2a;
  }
  .in-bangalore2-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
  }
  .in-bangalore2-down-box{
  width: 100%;
  padding: 10px 40px;
  /* background-color: #192f77; */
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .in-bangalore2-box:hover .in-bangalore2-down-box{
  background-color:#c97a2a;
  box-shadow: 7px 10px 10px #000000;
  color: #11151C;
  }
  .in-bangalore2-down-box-i-text{
  display: flex;
  gap: 7px;
  align-items: center;
  }
  .in-bangalore-down-box-i{
  display: flex;
  align-items: center;
  }
  .in-bangalore2-down-box-i img{
  width: 20px;
  }
  .php-pulse img{
    width: 40px;
  }
  .in-bangalore2-down-box-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
  .in-bangalore2-pulse{
    height: 75px;
    width: 75px;
    /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
    background: #6e3a05;
    position: absolute;
    /* margin: auto; */
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #c97a2a;
  }
  .in-bangalore2-pulse:before,
  .in-bangalore2-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c97a2a;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
  }
  .in-bangalore2-pulse:before{
    animation: pulse 2s ease-out infinite;
  }
  .in-bangalore2-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
  }
  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }
  
  
  /* bangalore2 end */
  
  
  /* in-bangalore3 start */
  
  .in-bangalore3{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
  }
  .in-bangalore3-box{
    width: 100%;
    /* height: 550px; */
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: url(./images/pngegg\ \(3\).png); */
    background-size:cover;
  }
  .in-bangalore3-pulse img{
    width: 35px;
  }
  .in-bangalore3-box:hover{
    border: 1px solid #07a33d;
    transition: .1s ease-in-out;
    border-radius: 20px;
    /* background: linear-gradient(to right bottom, #212428, #16181c); */
    background-color: #11151C;
  }
  .in-bangalore3-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  .in-bangalore3-imgbox img{
    width: 100%;
    height: 450px;
  }
  .in-bangalore3-textbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .in-bangalore3-box:hover .best-company-in-box-wraper-textbox-text{
    color: #07a33d;
  }
  .in-bangalore3-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
  }
  .in-bangalore3-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #07a33d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
  }
  .in-bangalore3-h1{
    color: #C4CFDE;
    font-size: 50px;
    padding-bottom: 30px;
  }
  .in-bangalore3-box:hover .in-bangalore2-h1{
  color: #07a33d;
  }
  .in-bangalore3-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
  }
  .in-bangalore3-down-box{
  width: 100%;
  padding: 10px 40px;
  /* background-color: #192f77; */
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .in-bangalore3-box:hover .in-bangalore3-down-box{
  background-color:#07a33d;
  box-shadow: 7px 10px 10px #000000;
  color: #11151C;
  }
  .in-bangalore3-down-box-i-text{
  display: flex;
  gap: 7px;
  align-items: center;
  }
  .in-bangalor3-down-box-i{
  display: flex;
  align-items: center;
  }
  .in-bangalore3-down-box-i img{
  width: 20px;
  }
  .php-pulse img{
    width: 40px;
  }
  .in-bangalore3-down-box-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }
  .in-bangalore3-pulse{
    height: 75px;
    width: 75px;
    /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
    background: #02491b;
    position: absolute;
    /* margin: auto; */
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #07a33d;
  }
  .in-bangalore3-pulse:before,
  .in-bangalore3-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #07a33d;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
  }
  .in-bangalore3-pulse:before{
    animation: pulse 2s ease-out infinite;
  }
  .in-bangalore3-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
  }
  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }
  
  
  /* bangalore 3 end */
  
  /* in-bangalore 4 start */
  
  .in-bangalore4{
      width: 100%;
      padding: 70px 100px;
      background-color: #000;
      position: relative;
    }
    .in-bangalore4-box{
      width: 100%;
      /* height: 550px; */
      padding: 50px;
      transition: .1s ease-in-out;
      border: 1px solid #000000;
      border-radius: 20px;
      position: relative;
      overflow: hidden;
      /* background: url(./images/pngegg\ \(3\).png); */
      background-size:cover;
    }
    .in-bangalore4-pulse img{
      width: 40px;
    }
    .in-bangalore4-box:hover{
      border: 1px solid #232ccf;
      transition: .1s ease-in-out;
      border-radius: 20px;
      /* background: linear-gradient(to right bottom, #212428, #16181c); */
      background-color: #11151C;
    }
    .in-bangalore4-wraper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 20px;
    }
    .in-bangalore4-imgbox img{
      width: 100%;
      height: 450px;
    }
    .in-bangalore4-textbox{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: center;
    }
    .in-bangalore4-box:hover .best-company-in-box-wraper-textbox-text{
      color: #232ccf;
    }
    .in-bangalore4-textbox-text{
      color: #C4CFDE;
      font-size: 50px;
      font-weight: 700;
      max-width: 500px;
      padding-top: 20px;
      transition: .5s ease-in-out;
    }
    .in-bangalore4-text{
      position: relative;
      background: transparent;
      border: 0;
      color: #ffffff;
      z-index: 9;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 1px;
    }
    .span-circle{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #232ccf;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .best-company-in-box-wraper-textbox-text-p{
      color: #C4CFDE;
      padding: 10px 0 30px 0;
    }
    .in-bangalore4-h1{
      color: #C4CFDE;
      font-size: 50px;
      padding-bottom: 30px;
    }
    .in-bangalore4-box:hover .in-bangalore4-h1{
    color: #232ccf;
    }
    .in-bangalore4-p{
      color: #C4CFDE;
      font-size: 17px;
      padding-bottom: 20px;
    }
    .in-bangalore4-down-box{
    width: 100%;
    padding: 10px 40px;
    /* background-color: #192f77; */
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .in-bangalore4-box:hover .in-bangalore4-down-box{
    background-color:#050b6d;
    box-shadow: 7px 10px 10px #000000;
    color: #11151C;
    }
    .in-bangalore4-down-box-i-text{
    display: flex;
    gap: 7px;
    align-items: center;
    }
    .in-bangalor4-down-box-i{
    display: flex;
    align-items: center;
    }
    .in-bangalore4-down-box-i img{
    width: 20px;
    }
    .php-pulse img{
      width: 40px;
    }
    .in-bangalore4-down-box-text{
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
    }
    .in-bangalore4-pulse{
      height: 75px;
      width: 75px;
      /* background: linear-gradient(
          #8a82fb,
          #407ed7
      ); */
      background: #232ccf;
      position: absolute;
      /* margin: auto; */
      left: 15%;
      top:33px;
      bottom: 0;
      border-radius: 50%;
      display: grid;
      place-items: center;
      font-size: 25px;
      color: #ffffff;
      z-index: 99;
      border: 2px solid #232ccf;
    }
    .in-bangalore4-pulse:before,
    .in-bangalore4-pulse:after{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #232ccf;
      border-radius: 50%;
      /* z-index: -1; */
      opacity: 0.7;
    }
    .in-bangalore4-pulse:before{
      animation: pulse 2s ease-out infinite;
    }
    .in-bangalore4-pulse:after{
      animation: pulse 2s 1s ease-out infinite;
    }
    @keyframes pulse{
      100%{
          transform: scale(2.5);
          opacity: 0;
      }
    }
    
    
    /* bangalore 4 end */

     /* our-ecommerce start */

.our-ecommerce{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
  }
  .our-ecommerce-in-box{
    width: 100%;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  .our-ecommerce-in-box:hover{
    border: 1px solid #3498eb;
  }
  .our-ecommerce-in-box-h1{
    color: #C4CFDE;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .our-ecommerce-in-box-p{
    color: #C4CFDE;
    text-align: center;
  }
  .our-ecommerce-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 40px;
    row-gap: 40px;
  }
  .our-ecommerce-in-box-wraper-in-box{
    width: 100%;
    padding: 40px;
    border: 1px solid #C4CFDE;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .our-ecommerce-in-box-wraper-in-box:hover{
    border: 1px solid #ff634780;
  }
  .our-ecommerce-in-box-wraper-in-box-h1{
    color: #C4CFDE;
    font-size: 25px;
    padding-bottom: 20px;
    position: relative;
    z-index: 9;
  }
  .our-ecommerce-in-box-wraper-in-box-p{
    color: #C4CFDE;
    text-align: justify;
    position: relative;
    z-index: 9;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff634780;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    /* rotate: 30deg; */
    
  }
  .our-ecommerce-in-box-wraper-in-box:hover .overlay {
    width: 70%;
  }
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .our-ecommerce-in-box-wraper-in-box:hover .our-ecommerce-in-box-wraper-in-box-h1{
    color: #deb3ff;
  }
  
  
  /* our ecommerce end */