@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}
html{
  scroll-behavior: smooth;
}
.full-section{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#mouse-follower{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbff00;
  position: absolute;
  margin: -16px 0 0 -16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
}

    /* web-development-banner start */

    .web-development-banner{
        width: 100%;
        height: 100vh;
        background-color: #000000;
      }
    
      /* web-development-banner end */

      /* best-company start */

.best-company{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
}
.best-company-in-box{
    width: 100%;
    /* height: 550px; */
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /* background: url(./images/pngegg\ \(3\).png); */
    background-size:cover;
}
.best-company-pulse img{
    width: 35px;
}
.best-company-in-box:hover{
    border: 1px solid #cc8dfc;
    transition: .1s ease-in-out;
    border-radius: 20px;
    /* background: linear-gradient(to right bottom, #212428, #16181c); */
    background-color: #11151C;
}
.best-company-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.best-company-in-box-wraper-imgbox img{
    width: 100%;
    height: 450px;
}
.best-company-in-box-wraper-textbox{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.best-company-in-box:hover .best-company-in-box-wraper-textbox-text{
    color: #cc8dfc;
    transition: .5s ease-in-out;
}
.best-company-in-box-wraper-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
}
.best-company-heading-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}
.span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2d4085;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
}
.best-company-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
}



/* .about-btn{
    width: 150px;
    height: 45px;
    border: 0;
} */

/*  */

/* .about-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .best-company-btn{
    display: flex;
    justify-content: center;
  }
  .best-company-btn-btn{
    position: relative;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius:50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #000;
  }
  
  .best-company-btn-btn .about-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  .best-company-pulse img{
    width: 40px;
  }
  .best-company-pulse{
    height: 75px;
    width: 75px;
    /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
    background: #5d0f99;
    position: absolute;
    /* margin: auto; */
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #cc8dfc;
}
.best-company-pulse:before,
.best-company-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #cc8dfc;
    border-radius: 50%;
    /* z-index: -1; */
    opacity: 0.7;
}
.best-company-pulse:before{
    animation: pulse 2s ease-out infinite;
}
.best-company-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
  

/* best company end */

/* in-bangalore start */

.in-bangalore{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.in-bangalore-box{
  width: 100%;
  /* height: 550px; */
  padding: 50px;
  transition: .1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* background: url(./images/pngegg\ \(3\).png); */
  background-size:cover;
}
.in-bangalore-pulse img{
  width: 35px;
}
.in-bangalore-box:hover{
  border: 1px solid #2df7c1;
  transition: .1s ease-in-out;
  border-radius: 20px;
  /* background: linear-gradient(to right bottom, #212428, #16181c); */
  background-color: #11151C;
}
.in-bangalore-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.in-bangalore-imgbox img{
  width: 100%;
  height: 450px;
}
.in-bangalore-textbox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.in-bangalore-box:hover .best-company-in-box-wraper-textbox-text{
  color: #2df7c1;
}
.in-bangalore-textbox-text{
  color: #C4CFDE;
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  padding-top: 20px;
  transition: .5s ease-in-out;
}
.in-bangalore-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2df7c1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
  color: #C4CFDE;
  padding: 10px 0 30px 0;
}
.in-bangalore-h1{
  color: #C4CFDE;
  font-size: 50px;
  padding-bottom: 30px;
}
.in-bangalore-box:hover .in-bangalore-h1{
color: #2df7c1;
}
.in-bangalore-p{
  color: #C4CFDE;
  font-size: 17px;
  padding-bottom: 20px;
}

.in-bangalore-down-box{
width: 100%;
padding: 10px 40px;
/* background-color: #192f77; */
background-color: transparent;
border-radius: 20px;
border: 2px solid #ffffff;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.in-bangalore-box:hover .in-bangalore-down-box{
background-color:#0a8a68;
box-shadow: 7px 10px 10px #000000;
color: #11151C;
}
.in-bangalore-down-box-i-text{
display: flex;
gap: 7px;
align-items: center;
}
.in-bangalore-down-box-i{
display: flex;
align-items: center;
}
.in-bangalore-down-box-i img{
width: 20px;
}
.php-pulse img{
  width: 40px;
}
.in-bangalore-down-box-text{
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.in-bangalore-pulse{
  height: 75px;
  width: 75px;
  /* background: linear-gradient(
      #8a82fb,
      #407ed7
  ); */
  background: #047758;
  position: absolute;
  /* margin: auto; */
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #2df7c1;
}
.in-bangalore-pulse:before,
.in-bangalore-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2df7c1;
  border-radius: 50%;
  /* z-index: -1; */
  opacity: 0.7;
}
.in-bangalore-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.in-bangalore-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}


/* in-bangalore end */

/* in-bangalore2 start */

.in-bangalore2{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.in-bangalore2-box{
  width: 100%;
  /* height: 550px; */
  padding: 50px;
  transition: .1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* background: url(./images/pngegg\ \(3\).png); */
  background-size:cover;
}
.in-bangalore2-pulse img{
  width: 40px;
}
.in-bangalore2-box:hover{
  border: 1px solid #1b66fa;
  transition: .1s ease-in-out;
  border-radius: 20px;
  /* background: linear-gradient(to right bottom, #212428, #16181c); */
  background-color: #11151C;
}
.in-bangalore2-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.in-bangalore2-imgbox img{
  width: 100%;
  height: 450px;
}
.in-bangalore2-textbox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.in-bangalore2-box:hover .best-company-in-box-wraper-textbox-text{
  color: #1b66fa;
}
.in-bangalore2-textbox-text{
  color: #C4CFDE;
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  padding-top: 20px;
  transition: .5s ease-in-out;
}
.in-bangalore2-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1b66fa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
  color: #C4CFDE;
  padding: 10px 0 30px 0;
}
.in-bangalore2-h1{
  color: #C4CFDE;
  font-size: 50px;
  padding-bottom: 30px;
}
.in-bangalore2-box:hover .in-bangalore2-h1{
color: #1b66fa;
}
.in-bangalore2-down-box-i, .in-bangalore3-down-box-i{
  display: flex;
}
.in-bangalore2-p{
  color: #C4CFDE;
  font-size: 17px;
  padding-bottom: 20px;
}
.in-bangalore2-down-box{
width: 100%;
padding: 10px 40px;
/* background-color: #192f77; */
background-color: transparent;
border-radius: 20px;
border: 2px solid #ffffff;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.in-bangalore2-box:hover .in-bangalore2-down-box{
background-color:#1b66fa;
box-shadow: 7px 10px 10px #000000;
color: #11151C;
}
.in-bangalore2-down-box-i-text{
display: flex;
gap: 7px;
align-items: center;
}
.in-bangalore-down-box-i{
display: flex;
align-items: center;
}
.in-bangalore2-down-box-i img{
width: 20px;
}
.php-pulse img{
  width: 40px;
}
.in-bangalore2-down-box-text{
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.in-bangalore2-pulse{
  height: 75px;
  width: 75px;
  /* background: linear-gradient(
      #8a82fb,
      #407ed7
  ); */
  background: #03276e;
  position: absolute;
  /* margin: auto; */
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #1b66fa;
}
.in-bangalore2-pulse:before,
.in-bangalore2-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1b66fa;
  border-radius: 50%;
  /* z-index: -1; */
  opacity: 0.7;
}
.in-bangalore2-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.in-bangalore2-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}


/* bangalore2 end */


/* in-bangalore3 start */

.in-bangalore3{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.in-bangalore3-box{
  width: 100%;
  /* height: 550px; */
  padding: 50px;
  transition: .1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* background: url(./images/pngegg\ \(3\).png); */
  background-size:cover;
}
.in-bangalore3-pulse img{
  width: 35px;
}
.in-bangalore3-box:hover{
  border: 1px solid #ad1409;
  transition: .1s ease-in-out;
  border-radius: 20px;
  /* background: linear-gradient(to right bottom, #212428, #16181c); */
  background-color: #11151C;
}
.in-bangalore3-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.in-bangalore3-imgbox img{
  width: 100%;
  height: 450px;
}
.in-bangalore3-textbox{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.in-bangalore3-box:hover .best-company-in-box-wraper-textbox-text{
  color: #ad1409;
}
.in-bangalore3-textbox-text{
  color: #C4CFDE;
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  padding-top: 20px;
  transition: .5s ease-in-out;
}
.in-bangalore3-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ad1409;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
  color: #C4CFDE;
  padding: 10px 0 30px 0;
}
.in-bangalore3-h1{
  color: #C4CFDE;
  font-size: 50px;
  padding-bottom: 30px;
}
.in-bangalore3-box:hover .in-bangalore2-h1{
color: #ad1409;
}
.in-bangalore3-p{
  color: #C4CFDE;
  font-size: 17px;
  padding-bottom: 20px;
}
.in-bangalore3-down-box{
width: 100%;
padding: 10px 40px;
/* background-color: #192f77; */
background-color: transparent;
border-radius: 20px;
border: 2px solid #ffffff;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.in-bangalore3-box:hover .in-bangalore2-down-box{
background-color:#ad1409;
box-shadow: 7px 10px 10px #000000;
color: #11151C;
}
.in-bangalore3-down-box-i-text{
display: flex;
gap: 7px;
align-items: center;
}
.in-bangalor3-down-box-i{
display: flex;
align-items: center;
}
.in-bangalore3-down-box-i img{
width: 20px;
}
.php-pulse img{
  width: 40px;
}
.in-bangalore3-down-box-text{
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.in-bangalore3-pulse{
  height: 75px;
  width: 75px;
  /* background: linear-gradient(
      #8a82fb,
      #407ed7
  ); */
  background: #630903;
  position: absolute;
  /* margin: auto; */
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #ad1409;
}
.in-bangalore3-pulse:before,
.in-bangalore3-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ad1409;
  border-radius: 50%;
  /* z-index: -1; */
  opacity: 0.7;
}
.in-bangalore3-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.in-bangalore3-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}

.down-box{
  width: 100%;
  padding: 10px 40px;
  /* background-color: #192f77; */
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .in-bangalore3:hover .down-box{
  background-color: #ad1409;
  box-shadow: 7px 10px 10px #000000;
  }
  .down-box-i-text{
  display: flex;
  gap: 7px;
  align-items: center;
  }
  .down-box-i{
  display: flex;
  align-items: center;
  }
  .down-box-i img{
  width: 20px;
  }
  .magento-pulse img{
    width: 40px;
  }
  .down-box-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }


/* bangalore3 end */


/* benefits start */

.benefits{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.benefits-pulse img{
  width: 40px;
}
.benefits-pulse{
  height: 75px;
  width: 75px;
  /* background: linear-gradient(
      #8a82fb,
      #9b40d7
  ); */
  background: #300477;
  position: absolute;
  /* margin: auto; */
  /* left: 0; */
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #7734eb;
}
.benefits-pulse:before,
.benefits-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7734eb;
  border-radius: 50%;
  /* z-index: -1; */
  opacity:0.7;
}
.benefits-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.benefits-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}
.benefits-in-box{
  width: 100%;
  /* height: 550px; */
  padding: 50px;
  transition: .1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* background: url(./images/pattern.png);
  background-size:cover; */
}
.benefits-in-box:hover{
  border: 1px solid #7734eb;
  transition: .1s ease-in-out;
  border-radius: 20px;
  /* background: linear-gradient(to right bottom, #212428, #16181c); */
  background-color: #11151C;
}
.benefits-span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7734eb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.benefits-heading{
  text-align: center;
}
.benefits-heading-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.benefits-h1{
  color: #C4CFDE;
  font-size: 50px;
  font-weight: 700;
  padding-top: 20px;
  transition: .5s ease-in-out;
  text-align: center;
  padding-bottom: 10px;
}
.benefits-in-box:hover .benefits-h1{
  color: #7734eb;
}
.benefits-p{
  color: #C4CFDE;
  text-align: center;
}
#benefit-box-next{
  border: 1px solid #7734eb;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.benefits-box:hover{
  box-shadow:10px 10px 10px #000000;
}
.benefits-box-i i{
  font-size: 25px;
  color: #ffffff;
  width: 50px;
  height: 50px;
  background-color: #7734eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-box-h1{
  color: #C4CFDE;
  font-size: 25px;
}
.benefits-box:hover .benefits-box-h1{
  color: #7734eb;
}
.benefits-box-p{
  color: #C4CFDE;
  text-align: center;
}

.benefits-btn-btn .services-btn{
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 8s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: 'Helvetica Neue';
  
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}


/* benefits end */

/* our-ecommerce start */

.our-ecommerce{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
}
.our-ecommerce-in-box{
  width: 100%;
  padding: 50px;
  border: 1px solid #000000;
  border-radius: 20px;
}
.our-ecommerce-in-box:hover{
  border: 1px solid #3498eb;
}
.our-ecommerce-in-box-h1{
  color: #C4CFDE;
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}
.our-ecommerce-in-box-p{
  color: #C4CFDE;
  text-align: center;
}
.our-ecommerce-in-box-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 40px;
  row-gap: 40px;
}
.our-ecommerce-in-box-wraper-in-box{
  width: 100%;
  padding: 40px;
  border: 1px solid #C4CFDE;
  border-radius: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.our-ecommerce-in-box-wraper-in-box:hover{
  border: 1px solid #ff634780;
}
.our-ecommerce-in-box-wraper-in-box-h1{
  color: #C4CFDE;
  font-size: 25px;
  padding-bottom: 20px;
  position: relative;
  z-index: 9;
}
.our-ecommerce-in-box-wraper-in-box-p{
  color: #C4CFDE;
  text-align: justify;
  position: relative;
  z-index: 9;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ff634780;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  /* rotate: 30deg; */
  
}
.our-ecommerce-in-box-wraper-in-box:hover .overlay {
  width: 70%;
}
.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.our-ecommerce-in-box-wraper-in-box:hover .our-ecommerce-in-box-wraper-in-box-h1{
  color: #deb3ff;
}



/* our ecommerce end */


/* portfolio strat */

.creative-work{
  width: 100%;
	padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.creative-work-in-box{
  padding: 50px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: .1s ease-in-out;
  overflow: hidden;
  position: relative;
  /* z-index: 99; */
}
.creative-work-in-box:hover{
  border: 1px solid #00fbff;
  background: #11151C;
}
.creative-work-in-box:hover .creative-work-heading h1{
  color: #00fbff;
}
.creative-work-pulse img{
  width: 45px;
}
.creative-work-pulse{
  height: 75px;
  width: 75px;
  background: #014b4d;
  position: absolute;
  /* margin: auto; */
  /* left: 0; */
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #00fbff;
}
.creative-work-pulse:before,
.creative-work-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00fbff;
  border-radius: 50%;
  /* z-index: -1; */
  opacity:0.7;
}
.creative-work-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.creative-work-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}
.creative-work-section .testmonial-heading{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.creative-work-heading h1{
	position: relative;
	font-size: 50px;
	color: #fff;
  max-width: 550px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.creative-work-heading{
  text-align: center;
}
.creative-work-span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #07d3d6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.creative-work-heading-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#horizontal {
  padding: 100px 0 50px 0;
  overflow: hidden;
}

.horizontal__content {
  display: flex;
}

.horizontal__item {
  border-radius: 20px;
  border: 1px solid #00fbff;
  padding: 20px;

}
.horizontal__item:not(:last-child) {
  margin-right: 50px;
}

.horizontal__num {
  border-radius: 20px;
}
.horizontal__num img{
  width:350px;
  height: 296px;
  border-radius: 20px;
  object-fit: cover;
}
.horizontal-layer-box{
  width: 100%;
  /* height: 500px; */
  /* background-color: red; */
  font-size: 30px;
  color: #00fbff;
  text-align: center;
}
.horizontal-layer-box-p{
  color: #ffffff;
  text-align: center;
}
.loc{
  position: relative;
  overflow: hidden;
}

/* portfolio end */

/* footer start */

footer{
  width: 100%;
  background-image: url(../../images/pattern.png);
  background-size: cover;
  position: relative;
  z-index: 9;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
.footer-child{
  width: 100%;
  padding: 50px 100px;
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  
  background: linear-gradient(to right, #fbc7d4, #9796f0);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
}
.footer-logo img{
  width: 150px;
}
.footer-up-text{
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0 20px 0;
}
.footer-wraper{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
}
.footer-box{
  width: 100%;
}
.footer-box2{
  width: 100%;
  padding-left: 40px;
}
.footer-1st-menu ul {
  list-style-type: none;
}
.footer-1st-menu ul li {
  padding-top: 10px;
}
.footer-1st-menu ul li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
.footer-box-menu-heading{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.phone{
  padding-bottom: 10px;
  color: #000000;
}
.phone-no{
padding-left: 5px;
font-size: 17px;
font-weight: 600;
}

.icon-desin i{
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: #bfff00;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 5px 5px 0;
}

/*  */

.footer-down{
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #C4CFDE;
  font-size: 14px;
}


/* footer end */
