

 /* .animation-heading-span-mid-gap{
  padding-left: 30px;
 }




.best-company-in-box:hover{
    border: 1px solid #2c8243;
    transition: .1s ease-in-out;
    border-radius: 20px;
    background-color: #11151C;
}


.best-company-in-box:hover .best-company-in-box-wraper-textbox-text{
    color: #2c8243;
    transition: .5s ease-in-out;
}
.best-company-in-box-wraper-textbox-text{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    max-width: 500px;
    padding-top: 20px;
    transition: .5s ease-in-out;
}
.best-company-heading-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}
.span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2c8243;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p{
    color: #C4CFDE;
    padding: 10px 0 30px 0;
}
.best-company-p{
    color: #C4CFDE;
    font-size: 17px;
    padding-bottom: 20px;
}
  .best-company-btn{
    display: flex;
    justify-content: center;
  }
  .best-company-btn-btn{
    position: relative;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius:50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #000;
  }
  
  .best-company-btn-btn .about-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  .best-company-pulse img{
    width: 40px;
  }
  .best-company-pulse{
    height: 75px;
    width: 75px;
 
    background: #03681e;
    position: absolute;
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #2c8243;
}
.best-company-pulse:before,
.best-company-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2c8243;
    border-radius: 50%;
    opacity: 0.7;
}
.best-company-pulse:before{
    animation: pulse 2s ease-out infinite;
}
.best-company-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
  



.social-media-marketing-competitors{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
  }
  .social-media-marketing-competitors-pulse img{
    width: 40px;
  }
  .social-media-marketing-competitors-pulse{
    height: 75px;
    width: 75px;

    background: #795003;
    position: absolute;
    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #deb25f;
  }
  .social-media-marketing-competitors-pulse:before,
  .social-media-marketing-competitors-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #deb25f;
    border-radius: 50%;
    opacity:0.7;
  }
  .social-media-marketing-competitors-pulse:before{
    animation: pulse 2s ease-out infinite;
  }
  .social-media-marketing-competitors-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
  }
  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }
  .social-media-marketing-competitors-in-box{
    width: 100%;
    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .social-media-marketing-competitors-in-box:hover{
    border: 1px solid #deb25f;
    transition: .1s ease-in-out;
    border-radius: 20px;
    background-color: #11151C;
  }
  .social-media-marketing-competitors-span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #deb25f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .social-media-marketing-competitors-heading{
    text-align: center;
  }
  .social-media-marketing-competitors-heading-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .social-media-marketing-competitors-h1{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
    transition: .5s ease-in-out;
    text-align: center;
    padding-bottom: 10px;
  }
  .social-media-marketing-competitors-in-box:hover .social-media-marketing-competitors-h1{
    color: #deb25f;
  }
  .social-media-marketing-competitors-p{
    color: #C4CFDE;
    text-align: center;
  }
  .social-media-marketing-competitors-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 30px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
  }
  .social-media-marketing-competitors-box{
    width: 100%;
    border: 1px solid #deb25f;
    height: 350px;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .social-media-marketing-competitors-box:hover{
    box-shadow:10px 10px 10px #000000;
  }
  .social-media-marketing-competitors-box-i{
    font-size: 25px;
    color: #000000;
    width: 50px;
    height: 50px;
    background-color: #deb25f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
  }
  .social-media-marketing-competitors-box:hover .social-media-marketing-competitors-box-i{
    transform: translateY(-10px);
    transition: .4s;
  }
  .social-media-marketing-competitors-box-h1{
    color: #C4CFDE;
    font-size: 25px;
    text-align: center;
    transition: .4s;
  }
  .social-media-marketing-competitors-box:hover .social-media-marketing-competitors-box-h1{
    transform: translateY(-10px);
    transition: .4s;
  }
  .social-media-marketing-competitors-box:hover .social-media-marketing-competitors-box-h1{
    color: #deb25f;
  }
  .social-media-marketing-competitors-box-p{
    color: #C4CFDE;
    text-align: center;
    transition: .4s;
  }
  .social-media-marketing-competitors-box:hover .social-media-marketing-competitors-box-p{
    transform: translateY(-10px);
    transition: .4s;
  }
  
  .social-media-marketing-competitors-btn-btn .services-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  .social-media-marketing-competitors-box-h1-center{
    text-align: center;
  }
  

.our-ecommerce{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
  }
  .our-ecommerce-in-box{
    width: 100%;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  .our-ecommerce-in-box:hover{
    border: 1px solid #1451d4;
  }
  .our-ecommerce-in-box-h1{
    color: #C4CFDE;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .our-ecommerce-in-box:hover .our-ecommerce-in-box-h1{
    color: #1451d4;
  }
  .our-ecommerce-in-box-p{
    color: #C4CFDE;
    text-align: center;
  }
  .our-ecommerce-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 40px;
    row-gap: 40px;
  }
  .our-ecommerce-in-box-wraper-in-box{
    width: 100%;
    padding: 40px;
    border: 1px solid #C4CFDE;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .our-ecommerce-in-box-wraper-in-box:hover{
    border: 1px solid #ffffff;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .our-ecommerce-in-box-wraper-in-box-p{
    color: #000000;
    font-weight: 600;
  }
  .our-ecommerce-in-box-wraper-in-box-h1{
    color: #C4CFDE;
    font-size: 25px;
    padding-bottom: 20px;
    position: relative;
    z-index: 9;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .our-ecommerce-in-box-wraper-in-box-h1{
    color: #1451d4;
  }
  .our-ecommerce-in-box-wraper-in-box-p{
    color: #C4CFDE;
    text-align: justify;
    position: relative;
    z-index: 9;
    font-weight: 600;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5279ce;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .9s ease;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .overlay {
    width: 100%;
    transition: .3s ease;
  }

  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6e91db;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .7s ease;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .overlay2 {
    width: 85%;
    transition: .5s ease;
  }

  .overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8eaae7;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .overlay3 {
    width: 70%;
    transition: .7s;
  }

  .overlay4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #bbd0fc;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
  }
  .our-ecommerce-in-box-wraper-in-box:hover .overlay4 {
    width: 55%;
    transition: .9s ease;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .our-ecommerce-in-box-wraper-in-box:hover .our-ecommerce-in-box-wraper-in-box-h1{
    color: #1451d4;
  }
  
  
  

.benefits{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
    position: relative;
  }
  .benefits-pulse img{
    width: 40px;
  }
  .benefits-pulse{
    height: 75px;
    width: 75px;

    background: #300477;
    position: absolute;

    left: 15%;
    top:33px;
    bottom: 0;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #ffffff;
    z-index: 99;
    border: 2px solid #7734eb;
  }
  .benefits-pulse:before,
  .benefits-pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #7734eb;
    border-radius: 50%;
    opacity:0.7;
  }
  .benefits-pulse:before{
    animation: pulse 2s ease-out infinite;
  }
  .benefits-pulse:after{
    animation: pulse 2s 1s ease-out infinite;
  }
  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }
  .benefits-in-box{
    width: 100%;

    padding: 50px;
    transition: .1s ease-in-out;
    border: 1px solid #000000;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

  }
  .benefits-in-box:hover{
    border: 1px solid #7734eb;
    transition: .1s ease-in-out;
    border-radius: 20px;
    background-color: #11151C;
  }
  .benefits-span-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7734eb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .benefits-heading{
    text-align: center;
  }
  .benefits-heading-text{
    position: relative;
    background: transparent;
    border: 0;
    color: #ffffff;
    z-index: 9;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .benefits-h1{
    color: #C4CFDE;
    font-size: 50px;
    font-weight: 700;
    padding-top: 20px;
    transition: .5s ease-in-out;
    text-align: center;
    padding-bottom: 10px;
  }
  .benefits-in-box:hover .benefits-h1{
    color: #7734eb;
  }
  .benefits-p{
    color: #C4CFDE;
    text-align: center;
  }
#benefit-social-icon{
  height: 330px;
}
  .benefits-box:hover{
    box-shadow:10px 10px 10px #000000;
  }
  .benefits-box-i i{
    font-size: 25px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    background-color: #7734eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .benefits-box-h1{
    color: #C4CFDE;
    font-size: 25px;
  }
  .benefits-box:hover .benefits-box-h1{
    color: #7734eb;
  }
  .benefits-box-p{
    color: #C4CFDE;
    text-align: center;
  }
  
  .benefits-btn-btn .services-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }
  
  

   .social-media-marketing{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
  }
  .social-media-marketing-in-box{
    width: 100%;
    padding: 50px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  .social-media-marketing-in-box:hover{
    border: 1px solid #1451d4;
    background-color: #11151C;
  }
  .social-media-marketing-in-box-h1{
    color: #C4CFDE;
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
  }
  .social-media-marketing-in-box:hover .social-media-marketing-in-box-h1{
    color: #1451d4;
  }
  .social-media-marketing-in-box-p{
    color: #C4CFDE;
    text-align: center;
  }
  .social-media-marketing-in-box-wraper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 40px;
    row-gap: 40px;
  }
  .social-media-marketing-in-box-wraper-in-box{
    width: 100%;
    padding: 40px;
    border: 1px solid #C4CFDE;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
    transition: .3s;
  
  }
  .social-media-marketing-in-box-wraper-in-box:hover{
    box-shadow: 20px 20px 30px #000000;
    transition: .3s;
  }
  .social-media-marketing-in-box-wraper-in-box:hover{
    border: 1px solid #0051ff;
  }
  .social-media-marketing-in-box-wraper-in-box:hover .social-media-marketing-in-box-wraper-in-box-p{
    color: #000;
    font-weight: 600;
  }
  .social-media-marketing-in-box-wraper-in-box-h1{
    color: #C4CFDE;
    font-size: 25px;
    padding-bottom: 20px;
    position: relative;
    z-index: 9;
  }
  .social-media-marketing-in-box-wraper-in-box:hover  .social-media-marketing-in-box-wraper-in-box-h1{
    color: #0051ff;
    font-weight: 600;
  }

  .social-media-marketing-in-box-wraper-in-box-p{
    color: #C4CFDE;
    text-align: justify;
    position: relative;
    z-index: 9;
    font-weight: 600;
  }
  .social-media-marketing-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5279ce;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .9s ease;
  }
  .social-media-marketing-in-box-wraper-in-box:hover .social-media-marketing-overlay {
    width: 100%;
    transition: .3s ease;
  }

  .social-media-marketing-overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6e91db;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .7s ease;
  }
  .social-media-marketing-in-box-wraper-in-box:hover .social-media-marketing-overlay2 {
    width: 85%;
    transition: .5s ease;
  }

  .social-media-marketing-overlay3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #8eaae7;
    overflow: hidden;
    width: 0;
    height: 100%;

    transition: .5s;
  }
  .social-media-marketing-in-box-wraper-in-box:hover .social-media-marketing-overlay3 {
    width: 70%;
    transition: .7s;
  }

  .social-media-marketing-overlay4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #bbd0fc;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease;
  }
  .social-media-marketing-in-box-wraper-in-box:hover .social-media-marketing-overlay4 {
    width: 55%;
    transition: .9s ease;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  
  
  



.creative-work-in-box{
  padding: 50px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: .1s ease-in-out;
  overflow: hidden;
  position: relative;
}
.creative-work-in-box:hover{
  border: 1px solid #00fbff;
  background: #11151C;
}
.creative-work-in-box:hover .creative-work-heading h1{
  color: #00fbff;
}
.creative-work-pulse img{
  width: 45px;
}
.creative-work-pulse{
  height: 75px;
  width: 75px;
  background: #014b4d;
  position: absolute;

  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #00fbff;
}
.creative-work-pulse:before,
.creative-work-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00fbff;
  border-radius: 50%;
  opacity:0.7;
}
.creative-work-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.creative-work-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}
.creative-work-section .testmonial-heading{
	max-width: 700px;
	text-align: center;
	margin: 30px auto 40px;
}
.creative-work-heading h1{
	position: relative;
	font-size: 50px;
	color: #fff;
  max-width: 550px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.creative-work-heading{
  text-align: center;
}
.creative-work-span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #07d3d6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.creative-work-heading-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#horizontal {
  padding: 100px 0 50px 0;
  overflow: hidden;
}

.horizontal__content {
  display: flex;
}

.horizontal__item {
  border-radius: 20px;
  border: 1px solid #00fbff;
  padding: 20px;

}
.horizontal__item:not(:last-child) {
  margin-right: 50px;
}

.horizontal__num {
  border-radius: 20px;
}
.horizontal__num img{
  width:350px;
  height: 296px;
  border-radius: 20px;
  object-fit: cover;
}
.horizontal-layer-box{
  width: 100%;
  font-size: 30px;
  color: #00fbff;
  text-align: center;
}
.horizontal-layer-box-p{
  color: #ffffff;
  text-align: center;
}
.loc{
  position: relative;
  overflow: hidden;
}



.next-project{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
}
.next-project-in-box{
  padding: 50px;
  border: 1px solid #569112;
  border-radius: 20px;
  transition: .1s ease-in-out;
  background-color: #11151C;
}
.next-project-in-box-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.next-project-in-box-text{
  color: #C4CFDE;
}
.next-project-in-box-h5{
  font-size: 18px;
}
.next-project-in-box-h1{
  font-size: 60px;
  color: #569112;
}
.next-project-in-box-btn{
    display: flex;
    align-items: center;
}
.next-project-in-box-btn-btn{
    position: relative;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius:50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: #000;
  }
  
  .next-project-in-box-btn-btn .next-project-in-box-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
 */
