@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya', serif;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.full-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#mouse-follower {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbff00;
  position: absolute;
  margin: -16px 0 0 -16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* web-appliacation-development start */

/* web-appliacation-development end */

/* best-company start */

.best-company {
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.best-company-in-box {
  width: 100%;
  /* height: 550px; */
  padding: 50px;
  transition: 0.1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* background: url(./images/pngegg\ \(3\).png); */
  background-size: cover;
}
.best-company-pulse img {
  width: 35px;
}
.best-company-in-box:hover {
  border: 1px solid #2a8fc9;
  transition: 0.1s ease-in-out;
  border-radius: 20px;
  /* background: linear-gradient(to right bottom, #212428, #16181c); */
  background-color: #11151c;
}
.best-company-in-box-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.best-company-in-box-wraper-imgbox img {
  width: 100%;
  height: 400px;
}
.best-company-in-box-wraper-textbox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0 20px;
}
.best-company-in-box:hover .best-company-in-box-wraper-textbox-text {
  color: #2a8fc9;
  transition: 0.5s ease-in-out;
}
.best-company-in-box-wraper-textbox-text {
  color: #c4cfde;
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  padding-top: 20px;
  transition: 0.5s ease-in-out;
}
.best-company-heading-text {
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.span-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2a8fc9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.best-company-in-box-wraper-textbox-text-p {
  color: #c4cfde;
  padding: 10px 0 30px 0;
}
.best-company-p {
  color: #c4cfde;
  font-size: 17px;
  padding-bottom: 20px;
}
.best-company-btn {
  display: flex;
  justify-content: center;
}
.best-company-btn-btn {
  position: relative;
  background: linear-gradient(
    -90deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #ee7752
  );
  background-size: 400% 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  animation: Gradient 4s ease infinite;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  color: #000;
}

.best-company-btn-btn .about-btn {
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 8s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: 'Helvetica Neue';
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}

.best-company-pulse img {
  width: 40px;
}
.best-company-pulse {
  height: 75px;
  width: 75px;
  /* background: linear-gradient(
        #8a82fb,
        #407ed7
    ); */
  background: #044164;
  position: absolute;
  /* margin: auto; */
  left: 15%;
  top: 33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #2a8fc9;
}
.best-company-pulse:before,
.best-company-pulse:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2a8fc9;
  border-radius: 50%;
  /* z-index: -1; */
  opacity: 0.7;
}
.best-company-pulse:before {
  animation: pulse 2s ease-out infinite;
}
.best-company-pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/* best company end */

/* benefits start */

/* benefits end */

/* competitor start */

/* .competitor{
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.competitor-pulse img{
  width: 40px;
}
.competitor-pulse{
  height: 75px;
  width: 75px;
  background: #795003;
  position: absolute;
  left: 15%;
  top:33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #deb25f;
}
.competitor-pulse:before,
.competitor-pulse:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #deb25f;
  border-radius: 50%;
  opacity:0.7;
}
.competitor-pulse:before{
  animation: pulse 2s ease-out infinite;
}
.competitor-pulse:after{
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse{
  100%{
      transform: scale(2.5);
      opacity: 0;
  }
}
.competitor-in-box{
  width: 100%;
  padding: 50px;
  transition: .1s ease-in-out;
  border: 1px solid #000000;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.competitor-in-box:hover{
  border: 1px solid #deb25f;
  transition: .1s ease-in-out;
  border-radius: 20px;
  background-color: #11151C;
}
.competitor-span-circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #deb25f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.competitor-heading{
  text-align: center;
}
.competitor-heading-text{
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
.competitor-h1{
  color: #C4CFDE;
  font-size: 50px;
  font-weight: 700;
  padding-top: 20px;
  transition: .5s ease-in-out;
  text-align: center;
  padding-bottom: 10px;
}
.competitor-in-box:hover .competitor-h1{
  color: #deb25f;
}
.competitor-p{
  color: #C4CFDE;
  text-align: center;
}
.competitor-in-box-wraper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 30px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.competitor-box{
  width: 100%;
  border: 1px solid #deb25f;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.competitor-box:hover{
  box-shadow:10px 10px 10px #000000;
  background-color: #deb25f;
  border: 1px solid #11151C;
}
.competitor-box:hover .competitor-box-h1{
  color: #000;
}
.competitor-box-i i{
  font-size: 25px;
  color: #000000;
  width: 50px;
  height: 50px;
  background-color: #deb25f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.competitor-box-h1{
  color: #C4CFDE;
  font-size: 25px;
}
.competitor-box:hover .competitor-box-h1{
  color: #deb25f;
}
.competitor-box-p{
  color: #C4CFDE;
  text-align: center;
}

.competitor-btn-btn .services-btn{
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 8s ease infinite;
  position: relative;
  z-index: 1;
  mix-blend-mode: overlay;
  font-family: 'Helvetica Neue';
  
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
} */

/* competitor end */

/* portfolio strat */

.creative-work {
  width: 100%;
  padding: 70px 100px;
  background-color: #000;
  position: relative;
}
.creative-work-in-box {
  padding: 50px;
  border: 1px solid #000;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  overflow: hidden;
  position: relative;
  /* z-index: 99; */
}
.creative-work-in-box:hover {
  border: 1px solid #00fbff;
  background: #11151c;
}
.creative-work-in-box:hover .creative-work-heading h1 {
  color: #00fbff;
}
.creative-work-pulse img {
  width: 45px;
}
.creative-work-pulse {
  height: 75px;
  width: 75px;
  background: #014b4d;
  position: absolute;
  /* margin: auto; */
  /* left: 0; */
  left: 15%;
  top: 33px;
  bottom: 0;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 25px;
  color: #ffffff;
  z-index: 99;
  border: 2px solid #00fbff;
}
.creative-work-pulse:before,
.creative-work-pulse:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00fbff;
  border-radius: 50%;
  /* z-index: -1; */
  opacity: 0.7;
}
.creative-work-pulse:before {
  animation: pulse 2s ease-out infinite;
}
.creative-work-pulse:after {
  animation: pulse 2s 1s ease-out infinite;
}
@keyframes pulse {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
.creative-work-section .testmonial-heading {
  max-width: 700px;
  text-align: center;
  margin: 30px auto 40px;
}
.creative-work-heading h1 {
  position: relative;
  font-size: 50px;
  color: #fff;
  max-width: 550px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.creative-work-heading {
  text-align: center;
}
.creative-work-span-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #07d3d6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.creative-work-heading-text {
  position: relative;
  background: transparent;
  border: 0;
  color: #ffffff;
  z-index: 9;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#horizontal {
  padding: 100px 0 50px 0;
  overflow: hidden;
}

.horizontal__content {
  display: flex;
}

.horizontal__item {
  border-radius: 20px;
  border: 1px solid #00fbff;
  padding: 20px;
}
.horizontal__item:not(:last-child) {
  margin-right: 50px;
}

.horizontal__num {
  border-radius: 20px;
}
.horizontal__num img {
  width: 350px;
  height: 296px;
  border-radius: 20px;
  object-fit: cover;
}
.horizontal-layer-box {
  width: 100%;
  /* height: 500px; */
  /* background-color: red; */
  font-size: 30px;
  color: #00fbff;
  text-align: center;
}
.horizontal-layer-box-p {
  color: #ffffff;
  text-align: center;
}
.loc {
  position: relative;
  overflow: hidden;
}

/* portfolio end */

/* footer start */

footer {
  width: 100%;
  background-image: url(../../images/pattern.png);
  background-size: cover;
  position: relative;
  z-index: 9;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footer-child {
  width: 100%;
  padding: 50px 100px;
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
  background: linear-gradient(to right, #fbc7d4, #9796f0);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
}
.footer-logo img {
  width: 150px;
}
.footer-up-text {
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0 20px 0;
}
.footer-wraper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
}
.footer-box {
  width: 100%;
}
.footer-box2 {
  width: 100%;
  padding-left: 40px;
}
.footer-1st-menu ul {
  list-style-type: none;
}
.footer-1st-menu ul li {
  padding-top: 10px;
}
.footer-1st-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}
.footer-box-menu-heading {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.phone {
  padding-bottom: 10px;
  color: #000000;
}
.phone-no {
  padding-left: 5px;
  font-size: 17px;
  font-weight: 600;
}

.icon-desin i {
  width: 40px;
  height: 40px;
  background-color: #000000;
  color: #bfff00;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 5px 5px 0;
}

/*  */

.footer-down {
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4cfde;
  font-size: 14px;
}

/* footer end */
