<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="error-page">
      <div class="iron-man">
        <!-- <img src="http://www.feralinteractive.com/data/games/legomarvelsavengers/images/characters/full/iron_man.png" alt="ỉronman"> -->
      </div>

      <div class="notify">
        <h3>404!</h3>
        <p>The Page You're Looking For Was Not Found.</p>
        <button>Go Back!</button>
      </div>
    </div>
  </body>
</html>
