@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alegreya", serif;
}
    .st0{fill:#033d5a;}
    .st1{fill:#F1F2F2;}
    .st2{fill:#afe7f5;}
    .st3{fill:#8b50eb;}
    .st4{fill:#c1a6ee;}
    .st5{fill:#f5aaeb;}
    .st6{fill:#ec43d6;}
    .st7{fill:#ff5100;}
    
html{
  scroll-behavior: smooth;
}

  /*  */
  

  .vlog-herosection {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
    overflow: hidden;
    /* margin-top: 75px; */
  }
  
 .vlog-herosection-h1{
    font-size: 50px;
    font-weight: 700;
    color: #ff5100;
    position:absolute;
    z-index: 2;
    text-align: center;
    bottom: 20px;
    right: 100px;
  }
  
  #pattern {
    position: absolute;
    top: -44px;
    left: -50px;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  /* #gradient {
    background: radial-gradient(#ff5100, transparent 50%);
    width: 400px;
    height: 400px;
    position: absolute;
    top: -200px;
    left: -200px;
    transform: translate(200px, 200px);
  } */
  
  .vlog-herosection-p{
    color: #C4CFDE;
    position: absolute;
    z-index: 99;
    top: 130px;
    padding: 0 100px;
  }
  .vlog-hero-section-top-p{
    padding-bottom: 10px;
  }

  .vlog-coloum-text{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 99;
    gap: 10px;
    padding: 0 140px;
    color: #ff5100;
    font-size: 18px;
  }
  .vlog-coloum-text-p{
    display: block;
  }
  .vlog-coloum-text-p2-text{
    padding-top: 10px;
  }

  /* demo start */


  .fott{
    width:100%;
    position: absolute;
    bottom:0;
  }
  
  .svg-animation{
    width:50%;
    margin:auto;
    display:block;
  }
  
  #codepen, #instagram{
    cursor:pointer;
    transition: all 0.25s;
  }
  
  #codepen:hover .st0{
    fill: #EF4864;
    transition: all 0.25s;
  }
  
  #instagram:hover .st0{
    fill: #37ADC9;
    transition: all 0.25s;
  }
  
  @media screen and (max-width: 480px) {
    .svg-animation{
      width:100%;
    }
  }

  /* vlog hero section end */

  /* vlog down section start */

  .blog-down-section{
    width: 100%;
    padding: 70px 100px;
    background-color: #000;
  }
  .blog-down-section-layer{
    width: 100%;
    display: flex;
    gap: 20px;
  }
  .blog-down-section-leftbox{
    width: 70%;
    /* background-color: red; */
    border-radius: 20px;
  }
  .blog-down-section-rightbox{
    width: 30%;
    /* background-color: #ff5100; */
    border: 1px solid #000000;
    padding: 30px 20px;
    border-radius: 20px;
    height: 100%;
  }
  .blog-down-section-rightbox:hover{
    border: 1px solid #ff5100;
  }
  .blog-down-section-leftbox-1stbox{
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 20px;
    transition: .3s;
    margin-bottom: 20px;
  }
  .blog-down-section-leftbox-1stbox:hover{
    border: 1px solid #ff5100;
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox-img{
    width: 100%;
     height: 350px;
     overflow: hidden;
     border-radius: 20px;
  }
  .blog-down-section-leftbox-1stbox-img img{
     width: 100%;
     height: 350px;
     border-radius: 20px;
     transition: .3s;
  }
  .blog-down-section-leftbox-1stbox:hover .blog-down-section-leftbox-1stbox-img img{
    transform: scale(1.1);
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox-img-icongroup{
    display: flex;
    gap: 15px;
  }
  .blog-down-section-leftbox-1stbox-img-icongroup-icon-text{
    color: #C4CFDE;
    padding-top: 20px;
  }
  .blog-down-section-leftbox-1stbox-img-icongroup-icon i{
    color: #C4CFDE;
    font-size: 16px;
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox:hover .blog-down-section-leftbox-1stbox-img-icongroup-icon i{
    color: #ff5100;
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox-img-icongroup-text{
    padding-left: 5px;
  }
  .blog-down-section-leftbox-1stbox-heading{
    font-size: 35px;
    color: #C4CFDE;
    font-weight: 600;
    padding: 20px 0 10px 0;
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox:hover .blog-down-section-leftbox-1stbox-heading{
    color: #ff5100;
    transition: .3s;
  }
  .blog-down-section-leftbox-1stbox-paragraph{
    color: #C4CFDE;
  }

  .blog-down-section-leftbox-1stbox-btn-btn{
    position: relative;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB, #EE7752);
    background-size: 400% 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius:50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    animation: Gradient 4s ease infinite;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    margin-top: 20px;
    color: #000;
  }
  
  .blog-down-section-leftbox-1stbox-btn-btn .blog-down-section-leftbox-1stbox-btn{
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 8s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    font-family: 'Helvetica Neue';
    
  }
  
  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  /* pagination start */

  .paginaion{
    display: flex;
    width: 100%;
  }
  .paginaion .pagination-item{
    text-decoration: none;
    width: 55px;
    height: 55px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #11151C;
    color: #ff5100;
    border: 2px solid #ff5100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;
    overflow: hidden;
    text-transform:capitalize;
    cursor: pointer;
    position: relative;
    transition: all .3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -5px 0px rgba(80, 80, 80, 0.1), inset -10px 0px rgba(150, 150, 150, 0.1);
  }
  .paginaion .pagination-item::before,
  .paginaion .pagination-item::after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translateX(-100px);
    transition: .3s ease-in-out;
    background-image: linear-gradient(135deg, #f88f6f, #b13009);
    border-radius: 50%;
  }
  .paginaion .pagination-item::after{
    content: 'click';
    color: #C4CFDE;
    transition-delay: 0.25s;
    transform: translateY(100px);
    font-size: 15px;
    text-transform: capitalize;
    background-image: linear-gradient(to right, #000,#11151C);
  }
  .paginaion .pagination-item:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), inset 0 -5px 0px rgba(80, 80, 80, 0.1), inset -10px 0px rgba(150, 150, 150, 0.1);
  }
  .paginaion .pagination-item:hover:before,
  .paginaion .pagination-item:hover::after{
    transform: translateY(0);
  }
  .paginaion .pagination-item:active{
    box-shadow: none;
  }
  /* .active{
    color: #ffffff !important;
    background-color: #ff5100 !important;
    position: relative;
    z-index: 99;
  } */



  /* pagination end */

  .blog-down-section-rightbox-input-parent{
    position: relative;
    width: 100%;
    height: 50px;
  }
  .blog-down-section-rightbox-input-parent input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 16px;
    padding: 0 20px;
    color: #C4CFDE;
    outline: none;
    border: 0px;
    border: 2px solid #C4CFDE;
    /* box-shadow: 0 2px 3px #C4CFDE; */
  }
.blog-down-section-rightbox-input-parent-search-i i{
    color: #ff5100;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.category-heading{
  color: #ff5100;
  font-size: 30px;
  padding: 50px 0 30px 0;
}
.category-short-box{
  display: flex;
  justify-content: space-between;
}
.category-all-short-box a{
  text-decoration: none;
}
.category-short-box{
  color: #C4CFDE;
  padding: 15px;
  background-image: linear-gradient(to right,#11151C, #000);
  border-radius: 20px;
  transition: .3s ease-in-out;
  margin-bottom: 10px;
  text-decoration: none;
}
.category-short-box:hover{
  color: #ff5100;
}
.category-short-box:hover{
  background-image: linear-gradient(to right, #11151C,#11151C);
  transition: .3s ease-in-out;
}
.category-short-box-heading{
  font-size: 17px;
}

.recent-heading{
  color: #ff5100;
  font-size: 30px;
  padding: 50px 0 30px 0;
}
.recent-post-box{
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.recent-post-box:hover .recent-post-box-user-icon i{
  color: #ff5100;
  transition: .3s;
}
.recent-post-box:hover .recent-post-box-user-text-heading a{
  color: #ff5100;
  transition: .3s;
}
.recent-post-box-user-icon i{
  font-size: 14px;
  transition: .3s;
}
.recent-post-box-img img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 20px;
  transition: .3s;
}
.recent-post-box:hover .recent-post-box-img img{
  transform: scale(.9);
  transition: .3s;
}
.recent-post-box-user-haeding{
  margin: auto;
}
.recent-post-box-user-text-heading a{
  font-size: 17px;
  color: #C4CFDE;
  text-decoration: none;
  transition: .3s;
}
.recent-post-box-user-icon-text{
  display: flex;
  font-size: 14px;
  gap: 5px;
  color: #C4CFDE;
  padding-bottom: 10px;
}

.blog-tag{
  color: #ff5100;
  font-size: 30px;
  padding: 50px 0 30px 0;
}
.blog-tag-flex{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.blog-tag-button{
  padding: 10px 20px;
  font-size: 16px;
  /* background: #11151C; */
  background: linear-gradient(to right, #000,#11151C);
  color: #C4CFDE;
  border: 0;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #C4CFDE;
  transition: .3s;
}
.blog-tag-button:hover{
  /* border: 1px solid #ff5100; */
  color: #ff5100;
  background: linear-gradient(to right,#11151C, #000);
  transition: .3s;
}


